:root {
    --light-green: #77BF98;
    --green: #358A70;
    --dark-green: #0F2820;
    --text-color: #EBF0D9;
}

/* COLORS */
/* #region */
.tx-white {
    color: var(--text-color);
}

.tx-dark-green {
    color: var(--dark-green)
}

.tx-light-green {
    color: var(--light-green);
}

.tx-green {
    color: var(--green);
}

.bg-white {
    background-color: var(--text-color);
}

.bg-dark-green {
    background-color: var(--dark-green)
}

.bg-light-green {
    background-color: var(--light-green);
}

.bg-green {
    background-color: var(--green);
}

/* #endregion */

.border-radius-five {
    border-radius: 0.5rem;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Oswald', sans-serif !important;
}

#empty-forum {
    width: 90%;
    border-radius: 0.5rem;
}

/*//////////////////////////*/
/* LOADER*/
/*//////////////////////////*/

.pre-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/loading.gif) center no-repeat var(--light-green);
    background-size: 150px 150px;
}

/*//////////////////////////*/
/* CONTENEDOR*/
/*//////////////////////////*/

/* #region */
.pages {
    position: relative;
}

.pages>div {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.pages>div.activo {
    display: block !important;
}

/* #endregion */

/*//////////////////////////*/
/* ANIMACIONES*/
/*//////////////////////////*/

/* #region */
.in {
    animation-timing-function: ease-in-out;
    animation-duration: 350ms;
}

.out {
    animation-timing-function: ease-in-out;
    animation-duration: 350ms;
}

.fade.in {
    animation-name: fade-in;
    z-index: 10;
}

.fade.out {
    z-index: 0;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* #endregion */

/*//////////////////////////*/
/* TOP NAV BAR */
/*//////////////////////////*/

.navbar {
    width: 100%;
    padding-left: 7.5%;
    padding-right: 7.5%;
    box-shadow: 1px 1px 5px 0px var(--dark-green);
}

.nav-container {
    width: 85%;
}

.sticky-off {
    top: -56px !important;
}

.nav-logo {
    height: 7vh;
}

.hide {
    display: none;
}

/*//////////////////////////*/
/* MENU INICIO*/
/*//////////////////////////*/
.main {
    height: 90vh;
    width: 100vw;
    display: flex !important;
    display: -webkit-flex !important;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-item {
    height: 15vh;
    width: 85% !important;
    text-indent: 1em;
    box-shadow: 0px 6px 10px -3px var(--dark-green);
}

.main-img {
    height: 15vh;
    float: right;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.main-title {
    float: left;
    margin: auto;
    font-size: 1.5em;
    line-height: 15vh;
    text-decoration: none;
}

/*//////////////////////////*/
/* BARRA DE NAVEGACIÓN FOOTER */
/*//////////////////////////*/

/* #region footer */
.footer-nav {
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
    box-shadow: -1px -1px 5px 0px var(--dark-green);
}

.footer-nav-item {
    width: 25%;
    height: 10vh;
}

.item {
    height: 5vh;
}

.nav-activo {
    display: block !important;
}

.link-activo {
    border-bottom: 2px solid var(--text-color);
}

/* #endregion footer */

/*//////////////////////////*/
/* TABLA POSICIONES */
/*//////////////////////////*/

/* #region posiciones*/


table.tabla-puntos td,
table.tabla-puntos th {
    border-top: 1px solid var(--green);
    padding: 3px 2px;
}


table.tabla-puntos tbody td {
    font-size: 1em;
    line-height: 2em;
    vertical-align: middle;
}

table.tabla-puntos thead th {
    font-size: 1em;
    border-bottom: none;
    font-weight: lighter;
}

.img-tabla {
    width: 2em;
    height: 2em;
    margin-top: -3px !important;
}

/* #endregion */

/*///////////////////////////*/
/* FIXTURE */
/*///////////////////////////*/

/* #region fixture*/
.img-club {
    width: 7vh;
    height: 7vh;
}

.versus {
    font-size: 1.2em;
    line-height: 7vh;
    text-shadow: 0px 1px 2px var(--dark-green);
    margin-bottom: 0;
}

.fixture-partido {
    display: flex;
    display: -webkit-flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    padding: 0.5em 0;
}

.titulo-principal {
    color: var(--dark-green);
    font-size: 2em;
    text-align: center;
}

.subtitulo-fecha {
    display: block;
    color: var(--green);
    font-size: 1.5em;
}

.detalle-partido-container {
    margin: 2vh 0;
    border: 1px solid var(--green);
    border-radius: 0.5em;
}

.detalle-partido-container a:hover {
    color: var(--green);
    text-decoration: underline;
}
.titulo-principal:hover {
    color: var(--text-color);
    text-decoration: underline;
}
.subtitulo-fecha:hover {
    color: var(--text-color);
}

.detalle-partido {
    text-decoration: none;
    color: var(--text-color);
}

h5 {
    font-size: 1rem;
}

/* #endregion */

/*//////////////////////////*/
/* FIXTURE DETALLE */
/*//////////////////////////*/

/* #region */
.img-club-detalle {
    width: 15vh;
    height: 15vh;
}

.equipo-detalle {
    width: 90%;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
}

.equipo-info {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    color: var(--dark-green);
}

.partido-subtitulo {
    color: var(--text-color);
    text-shadow: 1px 1px 1px var(--dark-green);
}

.versus-modal {
    font-size: 1.2em;
    line-height: 7vh;
    margin-bottom: 0;
}

.modal-date {
    color: var(--green);
}

.foro-btn {
    font-size: 1.20rem;
}

#iframe-map {
    border-radius: 0.5em;
    border: 1px solid var(--dark-green);
}

/* #endregion */

/*//////////////////////////*/
/* SEDES */
/*///////////////////////////*/

/* #region sedes */
.sedes-container {
    width: 100%;
    height: 80vh !important;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-evenly;
}

.modal-content {
    background-color: var(--text-color);
    color: var(--dark-green);
}

.modal-header {
    line-height: 1.5;
}

.sedes-item {
    width: 85% !important;
    height: 10vh;
    z-index: 0;
    text-decoration: none;
    text-align: center;
    border-radius: 0.5em;
    box-shadow: 0px 6px 10px -3px rgba(0, 0, 0, 0.75);
    text-shadow: 0px 1px 2px var(--dark-green);
}

.sedes-titulo {
    line-height: 10vh;
    font-size: 1.5em;
}

.embed-responsive {
    border-radius: 0.5em;
    border: 1px solid var(--dark-green);
}

/* #endregion sedes */

/*//////////////////////////*/
/* PAGINA EQUIPOS */
/*//////////////////////////*/

/* #region equipos */
.equipos-container {
    height: 80vh;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.equipos-item {
    width: 85%;
    height: 10vh;
    text-decoration: none;
    text-align: left;
    text-indent: 1em;
    border-radius: 0.5em;
    box-shadow: 0px 6px 10px -3px rgba(0, 0, 0, 0.75);
    text-shadow: 0px 1px 2px var(--dark-green);
}

.equipos-titulo {
    line-height: 10vh;
    font-size: 1.5em;
    float: left;
}

.equipos-img {
    float: right;
    width: 9vh;
    height: 9vh;
    margin: 0.5vh;
}

.modal-img {
    height: 20vh;
    width: 20vh;
}
.modal-team-title {
    font-size: 1.25em;
}
/* #endregion equipos */

/*//////////////////////////*/
/* FOROS */
/*//////////////////////////*/

/* #region */

.caja-post {
    background-color: #358A70;
    color: #EBF0D9;
    width: 90%;
    margin: auto;
    border-radius: 0.5em;
}

.caja-post-comentario {
    text-shadow: 0px 0px 1px var(--dark-green);
}

.caja-post-titulo {
    text-shadow: 0px 0px 1px var(--dark-green);
}

#login {
    width: 80%;
    height: 80vh;
}

#sign-in-button {
    background-color: var(--green);
    color: var(--text-color);
}

.comment-btn {
    background-color: #358A70;
    color: #EBF0D9;
    border: 1px solid var(--light-green);
    text-shadow: 0px 0px 1px var(--dark-green);
}

.create-post {
    background-color: var(--green);
    color: var(--text-color);
    width: 90%;
    border-radius: 0.5rem;
    line-height: 1.5em;
}

#add-post-btn {
    background-color: var(--green);
    color: var(--text-color);
}

.w80 {
    width: 90%;
}

.foro-ctn {
    border-bottom: 2px solid var(--green) !important;
}

.cm-autor {
    text-shadow: none;
}

.comentario {
    text-shadow: 0px 0px 1px var(--dark-green);
}

.shadow-dark-green {
    text-shadow: 0px 0px 1px var(--dark-green);
}

/* #endregion */

/* LANDSCAPE */

@media (orientation: landscape) {

    .nav-logo {
        height: 10vh;
    }

    .navbar-toggler {
        font-size: 1rem;
    }

    /*//////////////////////////*/
    /* MAIN */
    /*///////////////////////////*/
    /* #region main */
    .main {
        height: 85vh !important;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
    }

    .main-item {
        width: 45% !important;
        height: 25vh;
        margin: 2vh 0;
    }

    .main-title {
        line-height: 25vh;
    }

    .main-img {
        height: 25vh;
    }

    /* #endregion main */
    #fixture-port {
        width: 49%;
        margin-left: 25%;
        transition-duration: 1s;
    }

    .w-45 {
        width: 45%;
    }

    .modal-date {
        color: var(--text-color);
        text-shadow: 1px 1px 1px #0F2820;
    }

    .fix-container {
        width: 100% !important;
        display: flex;
        display: -webkit-flex;
    }

    .sedes-item {
        width: 60% !important;
    }

    .footer-nav-item {
        height: 13vh;
    }

    /*//////////////////
    ////EQUIPOS 
     /////////////////*/

    /* #region */
    .equipos-container {
        height: 70vh;
        display: flex;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .equipos-item {
        width: 40%;
        height: 17vh;
        margin: 1vh 0;
    }

    .equipos-titulo {
        line-height: 16vh;
    }

    .equipos-img {
        width: 14vh;
        height: 14vh;
        margin: 1vh;
    }

    .modal-img {
        width: 30vw;
        height: 30vw;
    }

    /* #endregion */

    /*//////////////////////////*/
    /* SEDES */
    /*///////////////////////////*/
    .sedes-container {
        width: 100%;
        height: 70vh !important;
    }

    .modal-date {
        text-shadow: 0px 1px 2px #0F2820
    }

    .sedes-item {
        width: 40% !important;
        height: 17vh;
        margin: 1vh 0;
    }

    .sedes-titulo {
        line-height: 17vh;
        font-size: 1.5em;
    }

    .item {
        height: 7vh;
    }
}